.black-text {
	color:black;
}

.white-text {
	color:white;
}

.left-sidebar {

}

.hidden-left-sidebar {
	max-width:120px;
}

.pointer-hand {
	cursor:pointer;
}

.small-sidebar {
	max-width:4.333333%!important;
}

.content-small-sidebar {
	max-width:95.666666%!important;
}

i {
	font-size:30px!important;
	text-align:center!important;
}