.test-enter {
  opacity: 0.01;
}

.test-enter.test-enter-active {
  opacity: 1;
  transition: 700ms;
}

.test-leave {
  opacity: 1;
}

.test-leave.test-leave-active {
  opacity: 0.01;
  transition: 700ms;
}